#chat-body{
  background-color: #abc1d1;
  height: 500vh;
}
#chat-body .status-bar{
  background-color: #d0dfe9;
}
#chat-body .sub-header{
  background-color: #abc1d1;
}
.chat-main{
  padding-top: 180px; 
  padding-left:10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  /* animation: fadeIn 0.8s linear; */
}
.chat__timestamp{
  color:white;
  background-color: #92a4b2;
  padding:15px;
  border-radius: 25px;
  font-size: 0.8rem;
  margin-bottom: 25px;
}

.message-row{
  width:100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeIn-left 0.8s ease-in-out;
}

@keyframes fadeIn-left {
  from {
    transform: translateX(-120px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeIn-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.message__author{
  margin-bottom: 5px;
  display: block;
}
.message__info{
  display: flex;
  align-items: flex-end;
}
.message__bubble{
  background-color: white;
  padding:13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}

.message__time,
.message__author{
  opacity: 0.8;
  font-size: 15px;
}

.message-row--own{  
  opacity: 0;
  animation: fadeIn-right 0.8s ease-in-out forwards;
  animation-delay: .5s;
  justify-content: flex-end;
}
.message-row--own .message__bubble{
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 5px;
}
.message-row--own .message__info{
  flex-direction: row-reverse;
}

.message-input{
  position: fixed;
  bottom: 0;
  width:100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding:5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}
.message-input .message-input__column:first-child {
  width: 8%;
}

.message-input .message-input__column:last-child {
  width: 92%;
  position: relative;
}
.message-input i {
  opacity: 0.6;
}
.message-input input{
  padding:12px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 20px;
  transition: all .3s ease-in-out;
}
.message-input__column:last-child button{
  position: absolute;
  right: 5px;
  top: 6px;
}
.message-input__column:last-child> i{
  position: absolute;
  right: 45px;
  top:12px;
}
.message-input button{
  background-color: var(--yellow);
  border:none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.message-input button i{
  opacity: 1;
}
.message-input button:focus,
.message-input button:active{
  outline: none;
}
.message-input input:focus{
  width:97vw;
  transform: translateX(-10%) translateY(-80px);
}
.message-input:focus-within{
  transform: translateY(80px);
}
.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.message-input:focus-within .reply__column:first-child,
.message-input:focus-within .fa-smile-wink,
.message-input:focus-within button {
  opacity: 0;
}