.more-main .icon-row{
  margin-top: 35px;
}


.more-service{
  margin-top: 50px;
  border-top: 1px solid rgba(0,0,0,0.3);
  padding-top: 40px;
}

.more-service__title{
  margin-bottom: 30px;
}

.more-service__icons{
  display: flex;

}

.more-service__icon{
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.more-service__icon-image{
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-service__icon-image i{
  font-size: 2rem;
  color: white;

}