/* Time To Practice */
@import "variables.css";
body{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color : #18191F;
}
#app{
  width:700px;
  border: 8px solid #04C7AE;
  padding:0 45px;
}

/* 상단 header */
.screen-header{
  position: relative;
  width: 100%;
  margin-top: 128px;
  text-align: center;
} 
.screen-header span{
  position: absolute;
  left:0;
  font-size:44px;
}
.screen-header h3{
  font-size:44px;
  font-weight: 800;
}

/* 뮤직플레이 */
.playlist-main{
  margin-top: 95px;
}
.playlist-main .play-music{
  width:100%;
  display: flex;
  justify-content:flex-start;  
}
.play-music__thumbnail{  
  border: var(--basic-border);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.play-music__thumbnail-lg{
  width: 235px;
  height: 235px;
  background-color: #FFBD11;
}
.play-music__text{  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.play-music__title{
  font-size:34px;
  font-weight: 800;
  padding-left: 26px;
  line-height: 60px;
}
.play-music__singer{
  font-size:22px;
  opacity: 0.6;
  font-weight: 700;
  padding-left: 26px;
}
.play-music__title-lg{
  width : 360px;
  padding-left: 34px;
  font-size:58px;
  line-height: 72px;
}
.play-music__singer-lg{
  padding-left: 34px;
  padding-top: 30px;
  font-size:28px;
  opacity: 0.9;
}

/*버튼 콘트롤러*/
.play-controller{
  margin-top:75px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.play-controller div{
  border : var(--basic-border);
  border-bottom: 12px solid #18191E;
}
.play-controller__play{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--music-title-size);
  line-height: 98px;
  font-weight: 800;
  width: 316px;
  height: 112px;
  border-radius: 25px ;
}
.play-controller__play i{
  font-size: var(--music-title-size);
  margin-right: 10px;
}
.play-controller__heart,
.play-controller__plus{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 112px;
  border-radius: 58px ;
}
.play-controller__heart i{
  font-size: 50px;
}

.play-list{
  margin-top: 75px;
}
.play-list .play-list__music{
  width:100%;
  display: flex;
  justify-content:flex-start; 
  margin-bottom: 90px; 
}
.play-list li:nth-child(1) .play-music__thumbnail{
  background-color: #F85A2A;
}
.play-list li:nth-child(2) .play-music__thumbnail{
  background-color: #FF89BB;
}
.play-list li:nth-child(3) .play-music__thumbnail{
  background-color: #1847E5;
}
.play-list li:nth-child(4) .play-music__thumbnail{
  background-color: #00C5AD;
}