#no-mobile{
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  font-size: 32px;
}
#no-mobile .no-mobile__text{
  width : 500px;
  height: 500px;
  text-align: left;
}
.no-mobile__text span{
  display: block;
  margin-top: 10px;
}
@media screen and (max-width:710px) {
  #no-mobile{
    display: none;
  }
}